@CHARSET "UTF-8";
header{
 width: auto;
 height:auto;
 background: #A1BE82;
 -webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
text-align:center;
font-size:25px;
padding: 0 5px;
 }
