@CHARSET "UTF-8";
.menu
{
width:100%;
background:#ffffff;
}
ul
{
list-style-type:none;
height:auto;
margin:0;
padding:0;
text-align: center;
width: 100%
}
li{margin: 5px}
.ulMenuList
{
padding:3px 0
}

ul .menuList 
{
background: #EBEBEB;
padding: 5px 10px;
cursor: pointer;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px

}